.div1 {
    width: 10px;
    height: 10px;
    border: 1px solid black;
}

.div2 {
    width: 10px;
    height: 10px;
    background-color: brown;
    border: 1px solid black;
}

.main_div {
    display: flex;
    flex-direction: row;
}